{% extends 'base.html' %} {% block title %} Job Applictaions {% endblock title%}
{% block content %} {% for object in object_list %}
<a href='{% url "jobs:application" object.pk %}'>
  <div class="card my-5">
    <div class="card-body">
      <h5 class="card-title">{{ object.company_name }}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{ object.job_title }}</h6>
      <p class="card-text">{{ object.job_description }}</p>
      <h6 href="#" class="card-link">{{ object.expected_salary }}JD</h6>
      <p class="card-text" style="color:#909090">{{object.created_at}}</p>
    </div>
  </div>
</a>
{% endfor %} 
<hr class="my-4">

<form method="post">
  {% csrf_token %}
  <div class="row g-3">
    <div class="col-sm-6">
      <label class="form-label">Company name</label>
      <input type="text" class="form-control" name="company_name" required="">
    </div>
    <div class="col-sm-6">
      <label class="form-label">Job Title</label>
      <input type="text" class="form-control" placeholder="" name="job_title" required="">
    </div>
    <div class="col-12">
      <div class="form-group">
        <label>Job Description</label>
        <textarea class="form-control" name="job_description" rows="3"></textarea>
      </div>
    </div>
    <div class="col-12">
      <label  class="form-label">Expected Salary <span class="" style="color:#808080">(Optional)</span></label>
      <input type="number" class="form-control" name="expected_salary">
    </div>
    <div class="col-6">
      <input type="submit" class="form-control" value= "Save"/>
    </div>
    
  </div>
</form>


{%endblock content %}
